body{
    background-color: black;
    font-family: "Audiowide", sans-serif;
    font-size: 12px;
}
th {
    color: rgb(255, 153, 0);
    text-align: left;
    vertical-align: top;
    font-size: 15px;
    
  }
  td{
    color:greenyellow;
    text-align: left;
    vertical-align: top;
    font-size: 15px;
  }
 .table
 {
    border: 1px solid rgb(255, 153, 0);
 }
.cell
{
    width: 200px;
}
.borduraB{
border-bottom: 2px solid skyblue;
}
.long{
    width: 415px;
}
.color{
    color:greenyellow;
    text-align: left;
    vertical-align: top;
    font-size: 15px;
  }
